<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/styles.css">

    <title>Estudiantes Matriculados en 2022</title>
</head>
<body>
    <h1>Estudiantes Matriculados en 2022</h1>

    {{if .}}
    <table>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Fecha de Matriculación</th>
        </tr>
        {{range $index, $element := .}}
        <tr>
            <td>{{$index}}</td>
            <td>{{$element.Nombre}}</td>
            <td>{{$element.FechaMatriculacion}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
    <p>No se encontraron estudiantes matriculados en 2022.</p>
    {{end}}
</body>
</html>