<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/styles.css">

    <title>6. Estudiante Femenino de Mayor Edad</title>
</head>
<body>

<div class="header">
    <h1>6. Estudiante Femenino de Mayor Edad</h1>
</div>

<div class="container">
    <table class="top10-table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
        </tr>
        </thead>
        <tbody>
        {{ range . }}
        <tr>
            <td>{{ .Nombre }}</td>
            <td>{{ .Apellido }}</td>
            <td>{{ .Edad }}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</div>

<div class="footer-container">
    <div class="button-footer">
        <a class="nav-button left-button" href="/hombre_mayor">5. Estudiante Masculino de Mayor Edad</a>
        <a class="nav-button right-button" href="/estadisticas_cursos">7. Estadísticas por Curso</a>
    </div>

    <div class="footer">
        Joshep Mateo Granada - 160004314<br>
        Jhon Mauro Guevara - 160004315<br>
        Go
    </div>
</div>

</body>
</html>