<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/styles.css">

    <title>2. Peor Promedio</title>
</head>
<body>
<div class="header">
    <h1>2. Estudiante con Peor Promedio</h1>
</div>

<div class="container">
    <p><strong>Nombre:</strong>  {{.Nombre}} {{.Apellido}}</p>
    <p><strong>Promedio:</strong> {{.Promedio}}</p>
</div>

<div class="footer-container">
    <div class="button-footer">
        <a class="nav-button left-button" href="/mejor_promedio">1. Estudiante con Mejor Promedio</a>
        <a class="nav-button right-button" href="/top10_mejores">3. Top 10 mejores estudiantes</a>
    </div>

    <div class="footer">
        Joshep Mateo Granada - 160004314<br>
        Jhon Mauro Guevara - 160004315<br>
        Go
    </div>
</div>

</body>
</html>