<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/styles.css">

    <title>Top 10 Mejores por Curso</title>
</head>
<body>
    <h1>Top 10 Estudiantes con Mejores Notas por Curso</h1>
    {{range $curso, $estudiantes := .}}
    <h2>Curso: {{$curso}}</h2>
    <ul>
        {{range $index, $estudiante := $estudiantes}}
            {{if le $index 9}}
            <!-- TODO: Arreglar esto porque empieza en 0-->
                {{$index}}. {{$estudiante.Nombre}} {{$estudiante.Apellido}} - Nota: {{$estudiante.Nota}}<br>
            {{end}}
        {{end}}
    </ul>
    {{end}}
</body>
</html>